/*Html and body, intial page set up*/

* {
  margin: 0; /*removes built in padding and margins*/
  padding: 0;
}

html {
    height: 100%;
}

body {
  min-height: 100vh; /*Pushes the footer to the bottom of the devices view height*/
  display: flex; /*This is used for the footer to keep it at the bottom of the page, it stretches the page content to fit the page*/
  flex-direction: column; /*Makes page content top to bottom*/
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Quicksand', sans-serif; /*sets font to use*/
  background: url(/img/bannerbackground.jpeg) top left/cover;
}

/*Header*/

.header {
  display: flex; /*sets the layout to flex*/
  flex-direction: row; /*sets container layout to left to right*/
  width: 100% /*set header to take up the whole width of page space*/;
  height: 50px;
  background-image: linear-gradient(.25turn, #7ae4ff 5%, #049aff 74%);
  padding-top: 0;
}

.header p { /*User account thats logged in display text*/
  margin: auto;
  background-color: black;
  color: white;
  padding: 10px;
  margin-left: 0;
}

.header span { /*User: */
  margin: auto;
  margin-left: 550px;
}

.logo{ 
  flex-basis: 15%; /*sets the width the button/item */
  background: url(/img/tcelogo.jpg) no-repeat center; /*stops image from repeating and aligns to the center of the item*/
  background-size: 55%; /*makes the image smaller than the button*/
  background-color: #53cdf2;
  border-bottom: solid lightblue 1px;
  transition-duration: 0.4s;
}

.logo:hover {
  opacity: 0.8; /*makes logo slightly opaque on hover*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19); /*gives the logo a shadow*/
}

.home {
  flex-basis: 10%; /*sets the width of the button/item*/
  background: url(/img/homeicon.jpg) no-repeat center; /*sets the image*/
  background-size: 25%; /*sets the size of the image*/
  transition-duration: 0.4s;  /*Makes the hover much smoother, allowing a 0.4 second delay before changing effects*/
}
.home:hover {
  background-color: #87CEFA; /* Button colour on hover*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19);
}

.shop {
  color: black;             /*font colour */
  padding: 15px 32px;
  flex-basis: 10%;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;         /*gives Curved Edges */
  transition-duration: 0.4s;
}
.shop:hover {
  background-color: #87CEFA;
  color: white; /*font colour*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19);
}

.login {
  color: black; 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  transition-duration: 0.4s;
  margin-left: auto; /*adds space inbetween the buttons (shop and login/signup buttons) */
}
.login:hover {
  background-color: #87CEFA;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19);
}

.signup {
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;   
  transition-duration: 0.4s;
}
.signup:hover {
  background-color: #87CEFA;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19);
}

/*------------------------------------------------------------------------------------------------------------------------*/

/*Banner and mini banner*/

.banner { /*The banner on the home screen*/
  display:flex;
  flex-direction: column; /*Changes the display layout to column form (top to bottom)*/
  color: white; /**/
  height: 300px; /*sets the height of the banner*/
  justify-content: space-around;
  align-items: center; /*Align to the center of the top/bottom size of the page/item */
}

.banner h1, .banner h2 {
  margin: 0;
  text-shadow: 2px 2px 6px #000;
}

.minibanner {
  padding-top: 10px;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

/*------------------------------------------------------------------------------------------------------------------------*/

/*Home Content*/

#time { /*the time tag in index*/
  margin-top: 5%;
  font-size: 8rem;
}

h1 { /*header text underneath time tag*/
  margin-bottom: 3rem;
}

/*reduces size of the clock/time when on smaller device*/
@media (max-width: 700px) { 
  #time {
    font-size: 6rem;
  }
}












/*Shop/browse button image*/
.shopNow {
background: url(/img/shopnow.png) no-repeat center; /*sets image*/
background-color: white; /*stops the background image from showing through the see through layer of image*/
height: 62px; /*sets height of the image*/
width: 17%; /*sets width*/
background-size: 100%; /*makes image fill the space provided*/
margin: 40px auto 60px auto; /*top, right, bottom, left*/
transition-duration: 0.4s;
border-radius: 3%;
}

.shopNow:hover {
  transform: scale(1.2);
}

.writing h1 { /*changes the "News" header*/
  font-size: 30px;
  text-decoration: underline;
  text-shadow: none; /*removes shadow*/
  margin-bottom: auto;
  padding-top: 50px;
}

.writing p { /*text underneath 'News'*/
  padding-top: 15px;
  font-size: 16px;
}


/*------------------------------------------------------------------------------------------------------------------------*/

/*Shop Page Content*/

.display { /*container for page content*/
  margin: 0 40px 40px 0; /*adds space on all sides*/
  width: 90%;
}

.display h3 { /*Row headers (category, on sale etc)*/
  padding: 20px 0px 0px 11px; /*top right bottom left*/
  margin-bottom: 10px;
}

.row1 {
  display: flex;
  justify-content: space-around; /*adds padding between images*/
  height: 190px; /*sets the height of the row*/
  padding: 10px 0 5px 0; /*pushes content to add space and look cleaner*/
}

.captions { /*container for text below product images*/
  display: flex; /*used to center content in div*/
  justify-content: center;
  align-items: center;
  padding: 0px 25px 10px 0; /*pushes content to add space and look cleaner*/
}

.captions p { /*text below the product images*/
  margin-left: auto;
  margin-right: auto;
}

.complete { /*for BUY NOW link button* (.captions a also but i am using its class instead)*/
  font-size: 20px; /*font size*/
  max-width: 100px; /*max width of button*/
  padding: 10px; /*padding around text*/
  border-radius: 10px; /*rounds edges*/
  background-color: rgb(26, 245, 73); /*sets colour of bg/padding area*/
  color: rgb(0, 0, 0); /*text colour*/
  transition-duration: 0.4s; /*adds slight delay to hover effect, smoother*/
}

.complete:link {
  text-decoration: none; /*Changes how the link looks when it has been unvisited*/
}

.complete:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19);
  color: #000;
  cursor: pointer;
  transform: scale(1.05)
}

.item1 {
  background: url(/img/product1.png) no-repeat center; /*link image from folder*/
  background-color: white; /*sets background color of image*/
  background-size: 100%; /*sets the height of the image to fill the container*/
  flex-basis: 25%; /*sets image width*/
  transition-duration: 0.4s;
}

.item2 {
  background: url(/img/product2.jpg) no-repeat center;
  background-color: white;
  background-size: 100%; /*sets the size of the image*/
  flex-basis: 23%;
  transition-duration: 0.4s;
}

.item3 {
  background: url(/img/product3.jpg) no-repeat center;
  background-size: 100%; /*sets the size of the image*/
  flex-basis: 24%;
  transition-duration: 0.4s;
}

.item4 {
  background: url(/img/product4.jpg) no-repeat center;
  background-size: 100%; /*sets the size of the image*/
  flex-basis: 23%;
  transition-duration: 0.4s;
}

.item1:hover, .item2:hover, .item3:hover, .item4:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.19);
}

/*------------------------------------------------------------------------------------------------------------------------*/

/*Log In and Sign Up Page*/

.alignContent { /*Used to center the form containers in the login and signup pages*/
  display: flex;
  justify-content: center;
  align-content: center;
}

.container { /*The outer area of the login form, the container, sets the outer size of the form*/
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}

h2 { /*'Log In header text*/
  text-align: center;
  margin: 0 0 20px;
}

.form { /*The form (div content inside of the container)*/
  padding: 30px 40px; /*adds padding around the edges of the box and the content*/
}

.form-control { /*controls space around the input boxes*/
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 298px;
}

.form-control label { /*'email' and 'password' text above input boxes*/
  color: rgb(99, 99, 99);
  display: block;
  margin-bottom: 5px;
}

.form-control input { /*The input of both boxes*/
  border: 2px solid #dfdfdf;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px; /*increases size of input boxes*/
  font-size: 14px;
}

.form-control input:focus { /*changes effect when boxes are clicked on*/
  outline: 0;
  border-color: #777;
}

.submit { /*submit button*/
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  transition-duration: 0.4s;
}

.submit:hover {
  background-color: #26a4f8;
}

h5 {
    text-align: center;
    padding-bottom: 20px;
}

h5 a:link {
  text-decoration: none; /*removes underline from link*/
}

/*------------------------------------------------------------------------------------------------------------------------*/

/*Footer*/

.footer {
  Width: 100%; /*sets footer to equal the whole width of a page*/
  bottom: 0; /*keeps footer at bottom of page*/
  height: 50px;
  margin-right: auto;
  margin-top: auto; /*keeps space between the footer and page content*/
  background-color: rgba(115, 187, 255, 0.918);
}

.social-icons {
  display: flex;
  justify-content: left; /*moves icons to the left side of the footer*/
  padding-left: 0; /*removes padding created from using li*/
}

.icon1 { /*set github logo as background*/
  background: url(/img/ghlogo.png) no-repeat center;
  background-size: contain; /*fills the container, the size is declared in .social-icons a*/
  background-color: rgb(122, 140, 146);
  transition-duration: 0.4s;
}

.icon1:hover {
background-color: rgb(112, 112, 112);
}

.icon2 {
  background: url(/img/fblogo.png) no-repeat center; /*set facebook logo as background*/
  background-size: contain;
  background-color: rgb(11, 91, 211);
  transition-duration: 0.4s; 
}
.icon2:hover {
  background-color: rgb(18, 89, 194);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19);
}

.social-icons li {
  display: inline-block; /*removes bullet points*/
}

.social-icons a { /*controls the a links*/
  display: flex;
  width: 150px;
  height: 50px;
}