/*Html and body, intial page set up*/

html {
  height: 100%;
}

body {
  min-height: 100vh; /*Pushes the footer to the bottom of the devices view height*/
  display: flex; /*This is used for the footer to keep it at the bottom of the page*/
  flex-direction: column; /*Makes page content top to bottom*/
  margin: 0;
  padding: 0;  /*These 2 remove built in padding/margin to make it so that the content is pushed to the very edges of a screen */
  font-family: Helvetica;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

/*Header*/

.header {
  display: flex; /*sets the layout to flex*/
  flex-direction: row; /*sets container layout to left to right*/
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.logo{ 
  flex-basis: 15%; /*sets the width the button/item */
  background: url(/img/tcelogo.jpg) no-repeat center; /*stops image from repeating and aligns to the center of the item*/
  background-size: 55%; /*makes the image smaller than the button*/
  background-color: #53cdf2;
  border-bottom: solid lightblue 1px;
}

.logo:hover {
  opacity: 0.8; /*makes logo slightly opaque on hover*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19); /*gives the logo a shadow*/
}

.home {
  flex-basis: 10%; /*sets the width of the button/item*/
  background: url(/img/homeicon.jpg) no-repeat center; /*sets the image*/
  background-size: 25%; /*sets the size of the image*/
  transition-duration: 0.4s;  /*Makes the hover much smoother, allowing a 0.4 second delay before changing effects*/
}
.home:hover {
  background-color: #87CEFA; /* Button colour on hover*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19);
}

.shop {
  color: black;             /*font colour */
  padding: 15px 32px;
  flex-basis: 10%;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;         /*gives Curved Edges */
  transition-duration: 0.4s;
}
.shop:hover {
  background-color: #87CEFA;
  color: white; /*font colour*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19);
}

.login {
  color: black; 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  transition-duration: 0.4s;
  margin-left: auto; /*adds space inbetween the buttons (shop and login/signup buttons) */
}
.login:hover {
  background-color: #87CEFA;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19);
}

.signup {
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;   
  transition-duration: 0.4s;
}
.signup:hover {
  background-color: #87CEFA;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19);
}

/*------------------------------------------------------------------------------------------------------------------------*/

/*Banner and mini banner*/

.banner {
  display:flex;
  flex-direction: column; /*Changes the display layout to column form (top to bottom)*/
  color: white;
  background: url(/img/bannerbackground.jpeg) top left/cover no-repeat;
  height: 300px; /*sets the height of the banner*/
  justify-content: center; /*Align to the center of the left/right size of the page/item*/
  justify-content: space-around;
  align-items: center; /*Align to the center of the top/bottom size of the page/item */
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 32px;
  font-style: italic;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.banner h1, .banner h2 {
  margin: 0;
  text-shadow: 2px 2px 6px #000;
}

.minibanner {
  display:flex;
  flex-direction: column; /*Changes the display layout to column form (top to bottom)*/
  color: white;
  background: url(/img/bannerbackground.jpeg) top left/cover no-repeat;
  height: 80px; /*sets the height of the banner*/
  justify-content: center; /*Align to the center of the left/right size of the page/item*/
  justify-content: space-around;
  align-items: center; /*Align to the center of the top/bottom size of the page/item */
}

h1 {
  font-size: 40px;
  margin: 0;
  text-shadow: 2px 2px 6px #000;
}

/*------------------------------------------------------------------------------------------------------------------------*/

/*Home Content*/

.buy {
background: url(/img/buy.png) no-repeat center;
height: 95px;
width: 20%;
background-size: 100%;
margin: auto;
margin-top: 15px;
transition-duration: 0.4s;
}

.buy:hover {
  opacity: 0.7;
}


/*body text*/
.writing {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: auto;
}

.writing h1 { /*changes the "Our Story text*/
  padding: 30px;
  font-size: 35px;
  text-decoration: underline;
  text-shadow: none;
}

.writing {
  font-size: 18px;
}


/*------------------------------------------------------------------------------------------------------------------------*/

/*Shop Page Content*/

.display {
  padding: 20px;
}

.display h3 {
  border-bottom: solid black 1px;
  padding-left: 25px;
}

.row1 {
  display: flex;
  justify-content: space-around; /*adds padding between images*/
  height: 190px; /*sets the height of the row*/
}

.captions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
}

.captions a {
  font-size: 20px;
}

.item1 {
  background: url(/img/product1.png) no-repeat center;
  background-color: white;
  background-size: 100%; /*sets the height of the image to fill the container*/
  flex-basis: 25%; /*sets image width*/
}

.item2 {
  background: url(/img/product2.jpg) no-repeat center;
  background-color: white;
  background-size: 100%; /*sets the size of the image*/
  flex-basis: 23%;
}

.item3 {
  background: url(/img/product3.jpg) no-repeat center;
  background-size: 100%; /*sets the size of the image*/
  flex-basis: 24%;
}

.item4 {
  background: url(/img/product4.jpg) no-repeat center;
  background-size: 100%; /*sets the size of the image*/
  flex-basis: 23%;
  border: solid black 1px;
}

.item1:hover, .item2:hover, .item3:hover, .item4:hover {
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19);
}



/*------------------------------------------------------------------------------------------------------------------------*/

/*Log In and Sign Up Page*/

.loginBox {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  border: solid black 1px;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: #E7E7E7;
}

.signupBox {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  border: solid black 1px;
  width: 410px;
  padding: 20px;
  border-radius: 10px;
  background-color: #E7E7E7;
}

.signupBox h3 {
  text-align: center;
}

.form1 {
  padding-top: 20px;
  padding-left: 28px;
}

.form2 {
  padding-top: 20px;
}

.form3 {
  padding-top: 10px;
  padding-right: 120px;
  text-align: end;
}

.button {
  width:130px;
  height:130px;
  padding: 25px;
  background: url(/img/login.png) no-repeat center;
  background-size: contain;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

.complete:link {
  text-decoration: none; /*Changes how the link looks when it has been unvisited*/
}

.complete p {
  font-size: 20px;
  text-align: center;
  max-width: 80px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(43, 226, 83);
  color: rgb(255, 255, 255);
}

.complete p:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19);
  text-decoration: underline;
  color: #000;
}


.button:hover {
  opacity: 0.7;

}

/*------------------------------------------------------------------------------------------------------------------------*/

/*Footer*/

.footer {
  display: flex; /*sets the layout to flex*/
  flex-direction: row; /*sets container layout to left to right*/
  margin-top: auto; /*keeps space between the footer and page content*/
  font-size: 15px; /*This sets the height of the container*/
  background-color: rgba(23, 130, 230, 0.918);
}

.icon1 {
  flex: 1; /*sets the width of the button */
  background: url(/img/ghlogo.png) no-repeat center;
  background-size: contain;
  background-color: rgb(122, 140, 146);
  transition-duration: 0.4s;
}

.icon1:hover {
background-color: rgb(112, 112, 112);
}

.icon2 {
  flex: 1;
  background: url(/img/fblogo.png) no-repeat center;
  background-size: contain;
  background-color: rgb(11, 91, 211);
  transition-duration: 0.4s; 
}
.icon2:hover {
  background-color: rgb(18, 89, 194);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19);
}

.footerP {
  font-style: italic;
  flex: 5; /*takes up a wider area*/
  text-align: center;
  color: black;
}